*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
}

#logo {
    background-color: blue;
    width: 20%;
    img {
        width: 100%;
    }
}


nav {
    background-color: green;
    width: 80%;
}